client_name   = "example-client"
project_name  = "aws-control-tower"
aws_region    = "us-east-1"
enabled_regions = [
  "us-east-1",
]
environment = "dev"

mandatory_tags = {
  Owner       = "platform-team"
  Environment = "dev"
  ManagedBy   = "terraform"
}

organizational_units = {
  security = {
    name = "Security"
  }
  workloads = {
    name   = "Workloads"
    parent = "security"
  }
}

accounts = {
  logging = {
    name  = "Logging"
    email = "logging@example.com"
    ou    = "security"
  }
  app = {
    name  = "Application"
    email = "app@example.com"
    ou    = "workloads"
  }
}

control_tower = {
  landing_zone_version        = "3.3"
  governed_regions            = ["us-east-1"]
  centralized_logging_enabled = true
  config_enabled              = true
  backup_enabled              = false
  security_roles_enabled      = true
}
